.title-main {
  padding-left: 20px;
}

.banner {
  width: 100%;
  margin-top: 0em;
  /* max-height: 8em; */
}

.principal {  
  /* background: #CCCCCC; */
  padding: 30px;
  color: #37474f;
}

.main-title {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  color: #37474f;
  font-weight: bold;
  clear: left;
}

.principal p {
  margin: 0 0 1em; 
  text-align: justify;
}

.principal strong {
  font-weight: bold;
  color: #000000;
}

.shaving {
  width: 200px;
  float: left;
  margin: 0 20px 20px 0;
}

#missao {
  font-size: 20px;
}

.principal p em strong {
  font-style: italic;
}

.beneficios {
  /* background:#FFFFFF; */
}


.itens-beneficios {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.itens {
  font-style: italic;
}

.imagemBeneficios {
  width: 60%;
}
