main {
  /* margin: 0 2em; */
  /* align-items: center; */
  /* padding: 3em 0 0; */
  background: #fefefe;
}
.title-main {
  padding-left: 20px;
}

.banner {
  width: 100%;
  margin-top: 0em;
  /* max-height: 8em; */
}

.principal {
  /* background: #CCCCCC; */
  padding: 30px;
  color: #37474f;
  margin: 0 7em;
  max-width: 1020px;
  margin: 0 auto;  
}

.main-title {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  color: #607d8b;
  font-weight: bold;
  clear: left;
}

.principal p {
  margin: 0 0 1em;
  text-align: justify;
}

.principal strong {
  font-weight: bold;
  color: #000000;
}

.shaving {
  width: 200px;
  float: left;
  margin: 0 20px 20px 0;
}

#missao {
  font-size: 20px;
}

.principal p em strong {
  font-style: italic;
}

.barbershop-map {
  padding: 3em 0;
  /* margin: 0 7em; */
  background: linear-gradient(#fefefe, #37474f);
}

.barbershop-map p {
  margin: 0 0 2em;
  text-align: center;
}

.content-map {
  width: 640px;
  margin: 0 auto;
}

.beneficios {
  background: #37474f;
  padding: 3em 0;
}

.conteudo-beneficios {
  width: 640px;
  margin: 0 auto;
}

.itens-beneficios {
  display: inline-block;
  width: 40%;
  margin: 0 auto;
  vertical-align: top;
}

.itens {
  /* font-style: italic; */
  line-height: 2em;
  color: #cfd8dc;
}

.itens:first-child {
  font-weight: bold;
}

.itens:before {
  content: "\1FA92";
  margin-right: 0.5em;
}

.imagem-beneficios {
  width: 55%;
}

.video {
  width: 560px;
  margin: 2em auto;
  align-items: center;
}
